<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> ASTRO CAT GAMES </title>
     <link rel="stylesheet" href="../../css/usuarios.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"><div class="extra1">  
         <%- include("../partials/header") %>
         
    <div class="body2"><div class="cajaBorrar"> 
    <h1>¡Haz una oferta! </h1><br>

     <div class="errores"> 
    <ul></ul></div> 
<form action="/productos/oferta/<%= oferta.id.toString()%>?_method=PUT" method="POST" id="formularioCreaProducto" class="formularioRegistro">
    <input type="hidden" id="precioOriginal" value="<%= oferta.precio %>">
    <input type="number" placeholder="<%= oferta.precio %>" name="oferta" id="oferta" class="inputProducto"><br><br>
   <button type="submit" class="buto butonn">crear producto</button><br></form>
   <h1>O también puedes eliminar la oferta</h1><br>
    <form action="/productos/oferta/delete/<%= oferta.id %>?_method=DELETE" method="POST" id="borrarOferta">
    <button type="submit" class="buto butonnn">borrar oferta</button>
    </form>
    
    
   
 </div><br><br>
</div><%- include("../partials/footer") %>
   </div>  <script src="/js/oferta.js"> </script>  </body> 
</html>