<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> ASTRO CAT GAMES </title>
     <link rel="stylesheet" href="../../css/usuarios.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"><div class="extra1"> 
         <%- include("../partials/header") %>
         
    <div class="body2"><div class="cajaBorrar"> 
    <h1>Editar</h1>
     <% if (locals.errors) { locals.errors.forEach(error=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                    <% }) } %>

     <div class="errores">
    <ul></ul></div> 
    <br>  <form action="/usuarios/editar/<%= Editarusuario.id.toString()  %>?_method=PUT" method="POST"  id="formularioRegistro" class="formularioRegistro" enctype="multipart/form-data">
    <input type="text" placeholder="nombre de usuario" name="nombre" id="nombre" class="input" value="<%= Editarusuario.nombre %>"><br><br>
    <input type="password" placeholder="nueva contraseña" name="password" id="password" class="input" value="<%= Editarusuario.password %>"><br><br>
    <input type="email" placeholder="email" name="email" id="email" class="input" value="<%= Editarusuario.email %>"><br><br>
    <input type="number" placeholder="edad" name="edad" id="edad" class="input" value="<%= Editarusuario.edad %>"><br><br>
    <input type="file" placeholder="foto de perfil" name="imagen" id="imagen" class="input"><br><br>
    <button type="submit" class="buto">crear cuenta</button></form>  
</div> 
    
    
   
 </div><br><%- include("../partials/footer") %>
</div>
   </div> <script src="/js/register.js"> </script>  </body> 
</html>