<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <title> ASTRO CAT GAMES </title>
     <link rel="stylesheet" href="../../css/usuarios.css" >
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body class="body"><div class="extra1"> 
         <%- include("../partials/header") %>
         
    <div class="body2"><div class="cajaBorrar2"> 
    <br><h1>Registro</h1>
     <% if (locals.errors) { locals.errors.forEach(error=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                    <% }) } %>
 
     <div class="errores">
    <ul></ul></div>  
    <br><form action="/usuarios/registro" method="POST"  id="formularioRegistro" class="formularioRegistro" enctype="multipart/form-data">
    <input type="text" placeholder="nombre de usuario" name="nombre" id="nombre" class="inputRegistro" value="<%= locals.old && old.nombre %>"><br><br>
    <input type="password" placeholder="contraseña" name="password" id="password" class="inputRegistro" value="<%= locals.old && old.password %>"><br><br>
    <input type="email" placeholder="email" name="email" id="email" class="inputRegistro" value="<%= locals.old && old.email %>"><br><br>
    <input type="number" placeholder="edad" name="edad" id="edad" class="inputRegistro" value="<%= locals.old && old.edad %>"><br><br>
    <input type="file" placeholder="foto de perfil" name="imagen" id="imagen" class="inputRegistro"><br><br>
    <button type="submit" class="buto butonn">crear cuenta</button></form>  
</div> 
    
    
   
 </div><br><%- include("../partials/footer") %>
</div>
   </div> <script src="/js/register.js"> </script>  </body> 
</html>